**/node_modules
**/.idea
client/node_modules/
client/package-lock.json
client/build
client/.idea
docker/
server/package-lock.json
server/node_modules/
server/logs
server/.idea
.env
.env.frontend.dev
.env.backend.dev
.env.mongo
.env.backend
k8s/
aws/